.menu-button {
@extend %button;

&.is-open .menu-button__icon-close {
opacity: 1;
}

&.is-open .menu-button__icon-burger {
    opacity: 0;
}
}

.menu-button__icon-close {
    opacity: 0;
}

.menu-button__icon-burger,
.menu-button__icon-close {
    stroke: $accent-color;
}




.hero__btn-primary,
.hero__btn-secondary {
    @extend %button;
  
    font-size: 8px;
    line-height: 1.25;
    text-align: center;

    border-radius: 20px;
    cursor: pointer;
}

.hero__btn-primary {
    padding: 7px 16px;
    background-color: $accent-color;
    color: $primary-white-color;
    margin-right: 8px;
}

.hero__btn-secondary {
    padding: 7px 14px;
    color: $accent-color;
    background-color: $primary-white-color;
}

.products__btn {
    @extend %button;
    width: 40px;
    height: 40px;
}

.about__btn {
@extend %button;
display: flex;
align-items: center;
padding: 17px 38px 17px 37px;
font-weight: 700;
font-size: 14px;
line-height: 1.29;
    
color: $accent-color;
background-color: $primary-white-color;
border-radius: 22px;

&:hover,
&:focus {
    background-color: $btn-hover;
}
}