.products__desc {
    margin-bottom: 15px;

    font-family: $secondary-font;
    font-size: 18px;
    line-height: 1.17;
    color: $title-color;
    text-align: center;
    text-transform: uppercase;
}

.products__text {
    margin-bottom: 148px;

    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
}

.products__list {
    @extend %list;
}

.products__item {
    position: relative;
    max-width: 280px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
  
    background-color: $bgc-section;
    border-radius: 24px;

    &:not(:last-child){
    margin-bottom: 140px;
    }
}

.products__title {
    margin-bottom: 32px;

    font-family: $secondary-font;
   
    font-size: 20px;
    line-height: 1.15;
    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: $primary-white-color;
}

.products__icons {
    margin-bottom: 32px;
}

.products__icon-point {
    fill: $primary-white-color;
}

.products__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 24px;
   
}

.products__more {
    text-align: center;
    margin-bottom: 32px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: $primary-white-color;
}

.products__picture {
    position: absolute;
    top: -140px;
}

$colors: #FFB8CA, "#F0D1A5", "#C2E297";

@each $color in $colors {
    $idx: index($colors, $color);

    .products__item:nth-child(#{$idx}) {
        background-color: #{$color};
    }
}