// Шрифт
$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
$bgc-section: #FFB8CA;
$primary-white-color: #FFFFFF;
$accent-color: #D41443;
$title-color: #FFA5BA;
$section-bg: #FFF5F6;
$secondary-color-text: #000000;
$color-text: #907E82;
$btn-hover: #ECEBEB;
$bg-color: #FAFAFA;
$color-bg-section: #F0D1A5;
$color-text-desc: #907E82;